<%- include("partials/dashboardHeader") -%>

    <div class="card text-center m-4 " >
        <form  action ="/form/added" method = "post" enctype="multipart/form-data"  class="bg-secondry  bg-light p-4  m-4 btn-outline-dark" style="width:60%;align-self: center;"  >    
                <div class = "form_group">    
                    <label class=""> Name:</label><br>    
                    <input type = "text" name = "name"  required/>    
                </div>    
                <div class = "form_group">    
                    <label>Description:</label><br> 
                    <textarea type = "text" name = "description" required > </textarea>    
                </div>    
                <div class = "form_group">    
                    <label>Price:</label> <br>   
                    <input type = "number" name = "price" required/>    
                </div>    
                <div class = "form_group">    
                    <label>Category:</label> <br>   
                    <input type = "text" name = "Category" required/>    
                </div> 
                <div class = "form_group">    
                    <label>Stock:</label><br>
                    <input type = "number" name = "Stock"  required/>    
                </div>  
                <div class = "form_group">    
                     <label for="formFileLg" class="form-label">Upload image Of Object</label>
                    <input class="form-control form-control-lg" name="file" id="formFileLg" type="file">
                </div>  

                <button type="submit" class="btn btn-primary btn-outline-dark m-4">Save</button>
        </form>  
    </div>

<%- include("partials/footer") -%>
